.cookie {
    display: block;
    left: 50%;
    margin-left: -150px;
    margin-right: -150px;
    width: 300px;
    height: 300px;
    animation: rotation 30s infinite linear;
    position: absolute
}
#score-container {
    position: absolute; /* Position it as needed */
    left: 0; /* Adjust as needed */
    display: none; /* Initially hide it */
    background-color: goldenrod; /* Set a background color with some transparency */
    padding: 20px;
    z-index: 1000; /* Set a high z-index to appear on top when visible */
    box-shadow: 0 2px 5px goldenrod(0, 0, 0, 1);
  }
  
  #score-container.visible {
    display: block; /* Make it visible when the 'visible' class is applied */
  }
  
.cookieDisplay{
    font-size: larger;
    background-color: transparent;
    display: inline;
    color: white;
}
.container{
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #421768;
    padding: 18px;
    display: inline
}
body {
    color: white;
    background-image: url("/images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.gacha {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    border-radius: 15px;
}
.joke {
    background-color: #421768;
    padding: 18px;
    font-size: larger
}
.cookie:active {
    display: block;
    display: block;
    left: 50%;
    margin-left: -150px;
    margin-right: -150px;
    width: 290px;
    height: 290px;
    transition-duration:0.05s;
}
button {
    color: white;
    border-radius: 15px;
    padding: 28px 28px;
    display: inline-block;
    border-radius: 5px;
    border-color: #421768
}
.button {
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: #421768;
}
button {
    background-color: #421768;
}
.icon {
    display: block;
    max-height: 60px
}
.buy {
    animation: red 0.05s linear
}
@keyframes red {
    0%{
        background: #ffffff
    }
    50% {
        background: #ff0000
    }
    100% {
        background: #ffffff
    }

}
.anim {
    opacity: 0;
}